// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

// alter包裹
after-wrap($color, $bg)
  position: relative
  color: $color
  &:after
    content ''
    display block
    position absolute
    width: 60%
    height: 1.2rem
    top: 50%
    left: 50%
    transform translate(-50%, -50%)
    z-index -1
    border-radius 2px
    background-color: $bg
